<div class="container">
  <div class="clock">
    <div class="digits">
      <span class="digit">{{ getDigit(timer, 0) }}</span>
      <span class="digit">{{ getDigit(timer, 1) }}</span>
    </div>
  </div>
  <div class="score-container">
    <div class="score">
      <p class="score-label">Score :</p>
      <p class="score-value">{{ score }}</p>
    </div>
  </div>
  <div class="image-container">
    <img [src]=questions[questionIndex].picture alt="Image">
  </div>
  <div class="quiz-container" *ngFor="let answer of questions[questionIndex].answers">
    <button class="quiz-button" (click)="checkAnswer(answer)">{{answer.name + " " + answer.surname}}</button>
  </div>
</div>
