.profiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}
.card-container > div {
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
}
.card-container img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}
.card-details {
  text-align: center;
}
.card-name {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}
.card-surname,
.card-location {
  font-size: 14px;
  color: #666666;
  margin-top: 5px;
}
/* Médias queries pour le rendu responsive */
@media screen and (max-width: 1200px) {
  .card-container > div {
    width: 33.33%;
  }
}
@media screen and (max-width: 768px) {
  .card-container > div {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .card-container > div {
    width: 100%;
  }
}
