.profiles-container {
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      flex-basis: calc(33.33% - 10px); /* 3 images par ligne */
      img {
        width: 100px;
        height: auto;
        margin-bottom: 5px;
      }
      p {
        margin: 0;
      }
    }
  }
}
