.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  width: 20%;
  height: 20%;
  margin-bottom: 40px;
}

.navbar {
  background-color: #333;
  padding: 10px;
}

.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-menu li {
  margin-right: 10px;
}

.nav-menu li:last-child {
  margin-right: 0;
}

.nav-menu li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-menu li a:hover {
  background-color: #555;
}
